body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}


p {
    display: flex;
    text-align: center;
    font-size: 160px;
    font-family: 'Caveat Brush', cursive;
}

a:link {
    color: Black;
    text-decoration: none;
}

a:visited {
    color: black;
}

.nav {
    margin-right: 30px;
}

.top-nav {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

#main-title {
    margin-right: 20px;
    font-size: 50px;
    color: Black;
    font-family: cursive;
    font-weight: bold;
}

.top-nav a {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    color: black;
    margin: 10px;
    text-decoration: none;
}

.main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* * {
    border: 1px solid red;
} */